@{
    ViewData["Title"] = "Registration";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form action="Registration" method="post">
        <p>
            <input type="text" name="login" required />
        </p>
        <p>
            <input type="password" name="password" required />
        </p>
        <p>
            <input type="submit" value="Register"/>
        </p>
    </form>
</div>
<div>
    <a asp-action="Login" asp-controller="Login">
        Login
    </a>
</div>